.header {
    background-color: rgba(0, 0, 0, 0.829);
    padding: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    margin:0px;
    background-color: rgb(211, 211, 211);
}

.circle {
background: rgb(255, 255, 255);
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

h2 {
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    max-width: 200px;
    background-color: rgb(255, 255, 255);
    border-right-width: 10px;
    border-right-color:  rgb(177, 26, 26);
}

.main .htmlheader {
    text-align: center;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    color:white;
    background-color: rgba(0, 0, 0, 0.829);
    width: 100%;
    margin-top:-10px;
    height: 110px;
    justify-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.main {
    margin: 50px;
    margin-top: 100px;
    padding-top: 10px;
    background-color: white;
    height: 1200px;
    width: 1175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.info-boxes1 {
    gap: 60px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 1100px;
    min-height: 260px;
    
}

.info-box1 {
    background-color: rgba(255, 228, 196, 0.623);
    flex:1;
    max-width:  450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border: 7px solid black;
    border-radius: 5px;
    margin: 30px 50px 30px 50px;
}

.info-box1 h2 {
    color: white;
    background-color: black;
    height: 30px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
    margin: -5px 0px -10px 0px;
    font-family:'Times New Roman', Times, serif;
}

.info-box1 p {
    font-size: 20px;
}

