.header {
    background-color: rgba(0, 0, 0, 0.829);
    padding: 1px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


body {
    margin:0px;
    background-color: rgb(211, 211, 211);
}

.circle {
background: rgb(255, 255, 255);
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height:  48px;
}

h2 {
    color: white;
}